<div class="row-fluid">
  <div class="span2">
    <!--Sidebar content-->
    <!--at top, drown down for categories (default 'All', then 'Work', 'Study', etc)-->
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">All</a></li>
        <li class="divider"></li>
        <li><a href="#">Misc Projects</a></li>
      </ul>
    </div>
    <!--below that on sidebar, scrolling list of items. I've thinking Tile stile, image-text-->
     <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </a>
      <a href="#">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </a>
      <a href="#">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </a>
      <a href="#">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">...</p>
      </a>
    </div>
  </div>
  <div class="span10">
    <!--Body content-->
    <!--Stuff here will depend on selection; probably a big image and some text, maybe some gallery-->
      stuf stfus tsugasodnaosdf asdfasdf
  </div>
</div>
